.featured_block{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.featured_post{
    height: 450px;
    width: 1000px;
    display: flex;
    background-color: white;
}

.feat_left_content{
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.featured_right{
    display: flex;
    flex-direction: column;
    width:600px;
    background-color: rgb(180, 187, 193);
}

.snippet{
    color: gray;
    font-size: 12px;
    font-weight: 300;
    margin: 3px 0px;
   
}




.title{
font-size: 24px;
font-family: 'Noto Serif', serif !important;
font-weight: 600;
color: black;
text-decoration-thickness:1.8px;
text-decoration-color: rgb(247, 90, 51) ;

}


.feat_img{
    width: 100%;
    height: 100%;
   object-fit: cover;

}

.content{
    color: grey;
    font-weight: 300;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


@media (max-width: 1000px) {


    .featured_block{display: none !important;}


}